<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


</head>

<body>

    
        <div class="container ">
            <div class="card">
                <div class="card text-center">
                    <div class="card-header">
                        
                            <img src="../../assets/image/trofeugif.gif" alt="">
                       
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Galeria de Troféus</h5>

                        <div class="card-text gtrofeus container ">
                            <img src="../../assets/image/chepeu.png" alt="" data-toggle="collapse" href="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body descricao">

                                        Ensino superior completo.
                                        Disposto a responder
                                        perguntas específicas!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">

                                    </div>
                                </div>
                            </div>


                            <img src="../../assets/image/carro.png" alt="" data-toggle="collapse" href="#carro"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="carro">
                                    <div class="card card-body descricao">
                                        Disponibiliza o seu veículo
                                        para dar carona.
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>



                            <img src="../../assets/image/comida.png" alt="" data-toggle="collapse" href="#comida"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="comida">
                                    <div class="card card-body descricao">
                                        Ajuda com arrecadação
                                        de alimentos para eventos
                                        na comunidade!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>





                            <img src="../../assets/image/conect.png" alt="" id="conect" data-toggle="collapse"
                                href="#conecta" aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="conecta">
                                    <div class="card card-body descricao">
                                        Fez novas conexões na Eureka!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>



                            <img src="../../assets/image/hosp.png" alt="" data-toggle="collapse" href="#hosp"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="hosp">
                                    <div class="card card-body descricao">
                                        Faz parte do time de
                                        saúde nos eventos na
                                        comunidade!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card-text gtrofeus container-flex align-items-md-center">






                            <img src="../../assets/image/intercambiocheck.png" alt="" data-toggle="collapse" href="#inter"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="inter">
                                    <div class="card card-body descricao">
                                        Já realizou intercâmbio
                                        e ajuda as pessoas da comunidade
                                        com outros idiomas!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>

                            <img src="../../assets/image/livro-icon-png-3.png" id="livro" alt="" data-toggle="collapse"
                                href="#livr" aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="livr">
                                    <div class="card card-body descricao">
                                        Lê mais de 3 livros por mês.
                                        Gerando conhecimento na rede!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>






                            <img src="../../assets/image/music.png" alt="" data-toggle="collapse" href="#music"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="music">
                                    <div class="card card-body descricao">
                                        Toca instrumentos e participa de
                                        eventos musicais na comunidade!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>





                            <img src=".../../assets/image/museu.png" alt="" data-toggle="collapse" id="museu" href="#museum"
                                aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="museum">
                                    <div class="card card-body descricao">
                                        Visita museus com frequência
                                        e ajuda a comunidade com
                                        conhecimento histórico!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>




                            <img src="../../assets/image/semfundo.png" alt="" id="mascara" alt="" data-toggle="collapse"
                                href="#teatro" aria-expanded="false" aria-controls="collapseExample">
                            <div class="geo">
                                <div class="collapse" id="teatro">
                                    <div class="card card-body descricao">
                                        Participa de peças teatrais
                                        e ensina teatro para jovens
                                        na comunidade!
                                        <img src="../../assets/image/icon.png" alt="" id="lamp1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
