@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
#erro{
    width: 100%;
    text-align: center;
    margin: 10px;
}

h1{
    color: #7a297a;
    font-size: 100px;
    text-shadow: 2px 2px 10px #101010;
}

h2{
    color: black;
}

img{
    height: 50%;
}

h2{
    font-family: 'Noto Serif', serif;
    font-size: 20px;
}

#imgerro
{
    margin-top: 5%;
}