#pt1
{
    background-color: rgba(0,0,0,.9); 
    color: white;
    padding-top: 20px;;
}

#caixatxt
{
    border-radius: 5px;
}

h1
{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 60px;
    
}

#form
{
   /* padding: 5%;*/
}