/*style="background-color:#fffedd*/

/*#pt1
{
    background-color: rgba(0, 0, 0, .3); 
    color:#7a297a;
    padding-top: 20px;
}*/

#caixatxt
{
    border-radius: 5px;
}


h1
{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: white;
    font-size: 60px;
    
}

.bg{
    background-image: url(../../assets/image/fundogeo.jpg);
    background-position: right top;
    background-repeat: repeat-y;   
}

h1{
    color:#7a297a;
}

.btn-outline-purple{
    border-color: #7a297a;
    color: #7a297a;
    background-color: transparent;
}

.btn-outline-purple:hover{
    background-color: #7a297a;
    color: white;
}
