<!--<div class="d-flex justify-content-end">
    <img src="../../assets/image/fundogeo.jpg" alt="" id="fundo">
</div>-->
<div class="bg">
    <!--Breve descrição do grupo-->
    
    <div class="container.flex" id="pt1">
        <div class="col-md-8">
            <div class="col-md-3"></div>
            <div class="col-md-5 container pt-br mt-5 mb-4">
                <h1 id="titulo" ><strong>Sobre Nós</strong></h1>
            </div>
            <div class="col-md-4"></div>
            <div class="col-sm-12 ">
                <p class="text-justify mr-5 ml-3">Como será que a tecnologia pode aproximar os jovens, principalmente, da periferia de São Paulo da cultura e da educação?</p>

                    <p class="text-justify mr-5 ml-3">Foi pensando nessa questão que criamos o Eureka!
                    Este  projeto nasceu do amor pelo mundo tech e pelo seu poder de transformação.</p>
                    
                   <p class="text-justify mr-5 ml-3 mb-5">Nosso maior objetivo é conectar estudantes da rede pública de ensino e professores a fim de tornar o aprendizado mais divertido. Além disso, esta rede social incentiva um maior engajamento cultural através do compartilhamento de eventos que irão colaborar com a formação desses jovens. 
                    </p>
 
                    <h3>Missão e Valores</h3>
                    <div class="row mt-5 mb-5">
                        <div class="col-md-4">
                            <div class="d-flex justify-content-center ">
                                <img class ="valores" src="../../assets/image/museu.png"  alt="">
                            </div>
                             <div class="d-flex justify-content-center text-center mt-3">
                                <p> <strong>Cultura é o que nos torna humanos</strong></p>
                             </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-center ">
                                <img class ="valores" src="../../assets/image/chepeu.png"  alt=""> 
                            </div>
                            <div class="d-flex justify-content-center text-center mt-3">
                                <p><strong>Educação é o que transforma o mundo</strong></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="d-flex justify-content-center">
                                <img class ="valores" src="../../assets/image/intercambiocheck.png"  alt="">
                            </div>
                             <div class="d-flex justify-content-center mt-3">
                                <p><strong>Conectar é o que nos faz maiores</strong></p>
                             </div>
                            
                        </div>
                    </div>
                    <hr>
            </div>

        <!--Fotos e Minibiografia dos Programadores desta rede social-->
        <div class="container letrac pt-5" id="pt2">
            <div class="accordion" id="accordionGroup"><!--Cria um grupo de botões para receber fechamento automaticamente de um collapse ao abrir outro-->
                <h3 id="subtitulo">Membros</h3>
                <div class="row">
                    <!--Biografia da Laura-->
                    <div class="col-sm-4">
                        <div id="foto1">
                            <img src="../../assets/image/lauraO.jpg" class="fotos" 
                                data-toggle="collapse" data-target="#laura"><!--Collapse: responsavel por abrir as descrições ao click do mousse-->
                            <div id="laura" class="collapse" aria-labelledby="foto1" data-parent="#accordionGroup"><!--aria-labelledby e data-parent: são responsaveis por fechar automaticamente um collapse caso outro collapse seja aberto-->
                                <div class="collapse-text mt-3">
                                    <h5>Laura Oliveira Pedro</h5>
                                    <p >Estudante de Análise e Desenvolvimento de Sistemas, apaixonada por tecnologia e
                                        as transformações que ela pode proporcionar para a sociedade,
                                        principalmente para os jovens. Sou movida pela constante vontade de aprender
                                        coisas novas e sair da minha zona de conforto, ser constantemente desafiada é o
                                        que me traz brilho aos olhos. Encontrei na tecnologia um meio de poder mudar a
                                        minha história e a de muitos jovens como eu.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <!--Biografia do Edson--><!--Orientações sobre tag e atributos na bio da Laura-->
                        <div id="foto2">
                            <img src="../../assets/image/edsonOficial.jpg" class="fotos"
                                data-toggle="collapse" data-target="#edson">
                            <div class="collapse mt-3"  id="edson" aria-labelledby="foto2" data-parent="#accordionGroup">
                                <div class="collapse-text">
                                    <h5>Edson Santana</h5>
                                    <p>Estudante de Análise e desenvolvimento de Sistema, fascinado por tecnologia e
                                        jogos desde criança, porém muito curioso para entender como tudo funciona.
                                        Essa curiosidade o levou a amar ainda mais a tecnologia, buscar e aprender
                                        coisas novas a cada dia. Acredita que a programação deve ser ensinada desde o
                                        ensino fundamental, para que todos sejam privilegiados com o prazer do contato
                                        diferenciado com a tecnologia desde cedo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <!--Biografia da Ana--><!--Orientações sobre tag e atributos na bio da Laura-->
                        <div id="foto3">
                            <img src="../../assets/image/AnaB.jpg" class="fotos"
                                data-toggle="collapse" data-target="#ana">

                            <div class="collapse mt-3" id="ana" aria-labelledby="foto3" data-parent="#accordionGroup">
                                <div class="collapse-text">
                                    <h5 class="card-title">Ana Beatriz</h5>
                                    <p class="card-text">Uma jovem mulher apaixonada por aprender e ensinar que
                                        encontrou na
                                        tecnologia um mundo de oportunidades, conexões e desenvolvimento. Considero
                                        minha
                                        missão
                                        criar projetos cada vez mais inovadores e inclusivos a fim de reforçar o papel
                                        da
                                        tecnologia como o principal agente transformador do mundo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row pb-4 mt-5 pb-5">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-4 ">
                        <!--Biografia do Italo--><!--Orientações sobre tag e atributos na bio da Laura-->
                        <div id="foto4">
                            <img src="../../assets/image/italo.jpg" class="fotos"
                                data-toggle="collapse" data-target="#italo">
                            <div class="collapse mt-3" id="italo" aria-labelledby="foto4" data-parent="#accordionGroup">
                                <div class="collapse-text">
                                    <h5>Italo Andrew</h5>
                                    <p>Uma pessoa com uma vontade enorme de aprender e conhecer coisas
                                        novas,
                                        me identifiquei com a área de tecnologia depois de experiencias anteriores e
                                        descobri
                                        minha vocação, fazendo sempre coisas novas e inovando para causar impacto no
                                        mundo!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <!--Biografia do Wesley--><!--Orientações sobre tag e atributos na bio da Laura-->
                        <div id="foto5">
                            <img src="../../assets/image/wes.jpg" class="fotos"
                                data-toggle="collapse" data-target="#wesley">
                            <div class="collapse" id="wesley" aria-labelledby="foto5" data-parent="#accordionGroup">
                                <div class="collapse-text mt-3">
                                    <h5>Wesley Paulow</h5>
                                    <p>Um sujeito periférico, 23 anos, há muito interessado por tecnologia, mas só há
                                        pouco verdadeiramente enamorado por ela. Entre a cruz e a caldeirinha ao pensar
                                        sobre a estrutura de classes com viés marxista ou orientado a objetos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<app-rodape></app-rodape>
