@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#navtitile{
    color: black;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#titulonavbar{
    color: #ffdb58;
    font-family: 'Raleway', sans-serif;
    margin-left: 1%;
}
