form{
    margin: 10% 10% 0 10%;
    padding-bottom: 10%;
}


#detalheimg{
    width: 200px;
    height: 200px;
    margin-left: 35%;
    
}
.bg{
    background-image: url(../../assets/image/fundogeo.jpg);
    background-position: right top;
    background-repeat: repeat-y;
}
.btn-outline-purple{
    border-color: #7a297a;
    color: #7a297a;
    background-color: transparent;
}

.btn-outline-purple:hover{
    background-color: #7a297a;
    color: white;
}

#detalhes{
    width: 100%;
}