#bg{
    background-color: rgb(240, 240, 240);
}


*{

    padding: 0%;
    margin: 0%;
}
.perfil{
    border-radius: 15px;
}

.post{
   margin-top: 2.5%;
   
   
}
input.post{
    height: 200px;
    width: 410px;
    border-radius: 15px;
    margin-left: 20%;
}
.card{
    margin-top: 10%;
    margin-left: 10%;
}
.post button{
    margin-top: 1%;
    display: flex;
    justify-content: end;
    margin-left: 99%;
}
.post-1{
    height: 200px;
    width: 410px;
    border-radius:15px ;
   margin-left: 20%;
}

.divIcones{
    display: inline;
    border-radius: 10px;
    
    margin-left:80%;

}
.icones{
    
    box-shadow: 2px 2px 5px black;
    
}
.profile-post{
    border-radius: 50%;
    border: 1px solid black;
}
.profile-card{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 3%;
    border: 1px black solid;
    margin-bottom: 2%;
}
.card-name{
    color:white ;
    justify-content: center;
    display: flex;
}
.events{
    margin-top: 5%;
    border-radius: 15px;
    margin-right: 5%;
}
