<div class=" container-fluid bg">
<div class="row pb-5">
     <!--Card lado esquerdo-->
    <div class="col-md-3">
        <div class="card mt-5 ml-4">
            <!--Cabeçalho do card esquerdo com a foto de perfil-->
            <div class="card-header card-esquerdo"><img class="profile-card" src="../../assets/image/perfil.jpg" alt="Card image cap" height="150"
                width="150"></div>
            <div class="card-body">
                <!--Nome do usuário-->
                <h5 class="card-title"><strong>{{usuario.nome}}</strong></h5>
                <!--Parte da descrição do perfil-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos facere at accusantium? Eius voluptatibus molestiae, porro voluptatem magnam eos, tenetur officiis adipisci sunt repellat iusto, consequatur odit asperiores totam minus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero enim ut autem officia? Earum fugit ulla asperiores rem similique hic sed. Laborum nam architecto necessitatibus quibusdam quis aepe impedit sint.
                </p>
                <button type="submit" class="btn btn-outline-purple" id="botaoPerfil" [routerLink]="'/perfil'">Meu Perfil</button>
            </div>
        </div>
    </div>

     <!--Campo de postagem e carregamento de noticias-->
    <div class="col-md-6">
        <!--Campo de postagem-->
        <div class="card-body mt-4">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="4"  placeholder="No que você está pensando?"[(ngModel)]="publicacao"></textarea>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar justify-content-end mb-5">
                <div class="btn-group">
                    <button type="submit" (click)="novaPubli()" class=" btn btn-outline-purple">Publicar</button>
                </div>
            </div>
        </div>
    
            <!--Feed de noticias e alimentação com API-->
            
        <div class="card post-1 mb-3 ml-3 mr-3" *ngIf="_feed != null">
            <!--Cabeçalho do Fedd de noticias-->
            <div class="card-header"><img src="{{_feed.linkimg}}" class="profile-post" alt=""> 
                <strong>{{usuario.nome}}</strong>
            </div>
            <!--Noticias recuperadas da API-->
            <div class="card-body">
                <!--Vai ser usado quando tiver banco de dados para computar hora
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>-->
                <!--<blockquote class="blockquote mb-0">-->
                    <p>{{_feed.texto}}</p>
                <!--</blockquote>-->
            </div>
            <div class="card-footer">
                <a href="#" class="card-link"><i class="fa fa-gittip"></i> Gostei</a>
                <a href="#" class="card-link"><i class="fa fa-comment"></i> Comentário</a>
                <a href="#" class=" btn btn-outline-purple"
                [routerLink]="['/editar', _feed.idPostagem]">Editar</a>
            </div>
        </div>

        <!--e o buscador estiver com o seu campo vazio, então mostrar todos-->
        <div bg-light *ngIf="_feed == null">
            <div class="card post-1  mb-3 ml-3 mr-3" *ngFor="let item of feed">
                <!--Cabeçalho do Fedd de noticias-->
                <div class="card-header"><img src="{{item.linkImg}}" class="profile-post" alt=""> 
                    <strong>{{usuario.nome}}</strong>
                </div>
                <!--Noticias recuperadas da API-->
                <div class="card-body">
                    <!--Vai ser usado quando tiver banco de dados para computar hora
                    <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>-->
                    <!--<blockquote class="blockquote mb-0">-->
                        <p>{{item.texto}}</p>
                    <!--</blockquote>-->
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link"><i class="fa fa-gittip"></i> Gostei</a>
                    <a href="#" class="card-link"><i class="fa fa-comment"></i> Comentário</a>
                    <a href="#" class=" btn btn-outline-purple"
                    [routerLink]="['/editar', item.idPostagem]">Editar</a>
                    <!--<a href="Feed" class="card-link"><i class="fa fa-mail-forward" data-toggle="modal" data-target=""></i> Editar</a>-->
                </div>

            </div>
        </div>            
     </div>
     
     <!--Card do lado direito-->
     <div class="col-md-3">
        <div class="card events mt-5 mr-4">
                <div class="card-header">
                        <img class="trofeu" src="../../assets/image/trofeu.png" alt="" height="50" width="50">Eventos Que Participou
                </div>
                <div class="card-body" id="cardEventos">
                    <div class="container-fluid badges">
                    <img src="../../assets/image/voluntario.jpg" alt="" height="30" width="30" title="Este(a) usuario(a) realizou trabalhos voluntarios"> 
                    <img src="../../assets/image/chepeu.png" alt="" width="30" height="30" title=" Este(a) Usuario(a) ja ajudou com uma Pergunta!"> 
                    <img src="../../assets/image/intercambiocheck.png" alt="" width="30" height="30" title="Este(a) Usuario(a) Ja fez um Intercambio">
                    <img src="../../assets/image/music.png" alt="" height="30" width="30" title="Este(a) Usuario(a) Sabe tocar algum Instrumento">
                    <img src="../../assets/image/museu.png" alt="" height="30" width="30" title="Este(a) Usuario(a) ja visitou um museu">
                    <img src="../../assets/image/teatro..jpg" alt="" width="30" height="30" title="Este(a) Usuario(a) ja visitou o teatro">
                     </div>
                    <p class="card-text">Voce Ja visitou esses eventos Parabens, Click em "Ver mais" para aumentar sua taxa de "cultura".</p>
                    <div class="btn-toolbar justify-content-end">
                        <div class="btn-group">
                    <button href="#" class=" btn btn-outline-purple" id="btnVMais">Ver Mais</button>
                    </div>
                    </div>
                </div>
            </div>
    
            <div class="form-inline my-3">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquise" [(ngModel)]="buscar"
                    aria-label="Search">
                <button class=" btn btn-outline-purple" type="submit" (click)="findId()">Pesquisar</button>
            </div>
        </div>
    </div> 
</div>      
<app-rodape></app-rodape>
        
        
        
        
        
        





















