@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.profile-post{
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
    width:50px; 
    height:50px;
}

.profile-card{
    border-radius: 50%; 
    border: 1px black solid;   
}

.card-esquerdo{
    text-align: center;
}

p{
    text-align: justify;
}

.bg{
    background: url(../../assets/image/fundo-cinza.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-siz: cover;
    -o-bakground-size: cover;
    background-size: cover;
}
.badges img:hover {
   
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    margin-left: 2%;
    margin-right: 2%;
    
}
.btn-outline-purple{
    border-color: #7a297a;
    color: #7a297a;
    background-color: transparent;
}

.btn-outline-purple:hover{
    background-color: #7a297a;
    color: white;
}

/*#botaoPerfil{
    display: flex;
    justify-content: center;
}*/

