.card-body img{
    width: 50px;
    height: 50px;
}
.card{
    margin: 5%;
    width: 350px;
    height: 250px;
}
.btn-outline-purple{
    border-color: #7a297a;
    color: #7a297a;
    background-color: transparent;
}

.btn-outline-purple:hover{
    background-color: #7a297a;
    color: white;
}

.bg{
    background-image: url(../../assets/image/fundogeo.jpg);
    background-position: right top;
    background-repeat: repeat-y;
}