<div class="bg">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-8">
            <h1 class="d-flex justify-content-center pt-br mt-5 mb-4"><strong>Perguntas Frequentes</strong> </h1>

            <div class="container" id="box-ajuda">
               <div id="accordion">
                  <div class="card">
                     <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne" style="color: #7a297a;">
                              O que é a Eureka?
                           </button>
                        </h5>
                     </div>

                     <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                           <p>A Eureka é uma rede social de cultura e educação voltada para os jovens
                              periféricos e da rede pública de ensino. Nosso maior objetivo é levar
                              conhecimento e entretenimento de qualidade além de criar uma rede de contatos
                              que, futuramente, irá contribuir com a formação dessas pessoas no âmbito pessoal
                              e profissional.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo" style="color: #7a297a;">
                              Como faço para entrar na minha conta Eureka?
                           </button>
                        </h5>
                     </div>
                     <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                           <p>Acesse www.eurekacultural.tech . Na parte direita da tela insira as seguintes
                              informações:</p>
                           <p><strong>E-mail e Senha.</strong> </p>
                           <p>Observação: Utilize o e-mail e senha previamente informados no momento do
                              cadastro.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                              aria-expanded="false" aria-controls="collapseThree" style="color: #7a297a;">
                              Como faço para criar uma conta na Eureka?

                           </button>
                        </h5>
                     </div>
                     <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                           <p> 1. Acesse a página www.eurekacultural.tech</p>
                           <p> 2. Insira as informações requisitadas com os seus dados verdadeiros.</p>
                           <p>3. Clique em “Cadastrar”</p>
                           <p>4. Caso você tenha digitado seus dados corretamente a mensagem: “Dados cadastrados com sucesso” irá aparecer.</p>
                           <p>5. Pronto! Agora você faz parte da comunidade Eureka.</p>

                        </div>
                     </div>


                  </div>
                  <div class="card">
                     <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour"
                              aria-expanded="true" aria-controls="collapseFour" style="color: #7a297a;">
                              Não sou aluno da rede pública de ensino. Posso me cadastrar?
                           </button>
                        </h5>
                     </div>

                     <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                           <p>Sim. Apesar da Eureka ser voltada para os jovens da rede pública e da periferia
                              todes são bem-vindes. Aqui a palavra de ordem é <strong>INCLUSÃO</strong>.</p>

                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                              aria-expanded="false" aria-controls="collapseFive" style="color: #7a297a;">
                              Como faço uma publicação?
                           </button>
                        </h5>
                     </div>
                     <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                           <p>Depois de fazer o login você será direcionado para o seu Feed de notícias. Na
                              caixa de texto no campo superior da tela que contém a mensagem “No que você está
                              pensando?” escreva sua publicação. Quando tudo estiver do jeito que você deseja
                              clique em “Publicar”.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                              aria-expanded="false" aria-controls="collapseSix" style="color: #7a297a;">
                              Como vejo minhas conexões?
                           </button>
                        </h5>
                     </div>
                     <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                           <p>Depois de fazer o login, clique em "Conexões". A página trará todos os membros que estão na rede social.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven"
                              aria-expanded="true" aria-controls="collapseSeven" style="color: #7a297a;">
                              Esqueci minha senha Eureka. O que devo fazer?
                           </button>
                        </h5>
                     </div>

                     <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                           <p>Caso você não consiga se lembrar da senha que cadastrou entre em contato através
                              do e-mail: eurekasocialeducation@gmail.com.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight"
                              aria-expanded="false" aria-controls="collapseEight" style="color: #7a297a;">
                              Como funciona a Eureka?

                           </button>
                        </h5>
                     </div>
                     <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                           <p>Na Eureka você pode publicar materiais de estudo, postar e responder dúvidas e
                              compartilhar eventos culturais que ocorrem em São Paulo. A partir dessas ações,
                              você poderá criar conexões com pessoas que podem ajudar na sua formação pessoal
                              e profissional. Você poderá também compartilhar os seus conhecimentos e
                              interesses.</p>
                        </div>
                     </div>
                  </div>
                  <div class="card">
                     <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                           <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine"
                              aria-expanded="false" aria-controls="collapseNine" style="color: #7a297a;">
                              O que são os Badges?
                           </button>
                        </h5>
                     </div>
                     <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                           <p>Os Badges são nossos distintivos que representam as conquistas que o usuário
                              poderá obter.
                              Você poderá compartilhar os Badges no seu perfil e com isso mostrar para suas
                              conexões os eventos que participou, as dúvidas que respondeu e os materiais que
                              compartilhou.
                           </p>
                        </div>
                     </div>
                  </div>

                  <div class="card">
                     <div class="card-header" id="headingTen">
                        <h5 class="mb-0">
                           <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen"
                              aria-expanded="true" aria-controls="collapseTen" style="color: #7a297a;">
                              Como relatar um problema à Eureka?
                           </button>
                        </h5>
                     </div>

                     <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
                        <div class="card-body">
                           <P>Para relatar um problema entre em contato no formulário abaixo.</P>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
            <div class="container">


               <div class="form-group">
                  <label for="exampleFormControlTextarea1"><strong>Não encontrou o que procurava? Mande-nos sua
                        pergunta ou sugestão!</strong></label>
                  <textarea class="form-control" style="resize: none" id="exampleFormControlTextarea1" rows="5"></textarea>

                  <div class="btn-toolbar justify-content-end mb-5">
                     <button type="submit" class="btn btn-outline-purple mt-3">Enviar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-rodape></app-rodape>