#box-ajuda{
    margin-top: 25px;
    margin-bottom: 40px;
}

.card{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.form-group{
    margin: 10%;
}

.btn-outline-purple{
    
    border-color: #7a297a;
    color: #7a297a;
    background-color: transparent;
}

.btn-outline-purple:hover{
    background-color: #7a297a;
    color: white;
}

#fundo{
    padding: 0%;
}